// theses values are the nearest multiple of 8px of the default A4 format
// this avoid some visual imperfections in the chromium PDF generator
// https://github.com/puppeteer/puppeteer/issues/2278#issuecomment-1166540702
$width: 792px;
$height: 1120px;

// preview
body.preview {
  width: $width;
  height: $height;
  margin: 10px auto;
  border: 1px solid var(--gray-400);
}

// print
@media print {
  @page {
    size: $width $height;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }
}
